# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
env/
.virtualenv/

# Environment files
.env


# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE configuration files
generate_flask_structure.py
pro_flask.code-workspace
